.p1{ height: 600px; background-color: rgb(3, 6, 8); width: 80%; margin: 0 auto; text-align: center; color: rgb(243, 245, 247); border: 6px solid gray; border-radius: 0%; padding: 15px; }
.p2{ height: 2600px; background-color: black; width: 80%; margin: 0 auto; text-align: center; color:rgb(246, 250, 253); border: 8px solid gray; border-radius: 0%; padding: 15px;}
#w1{background-color: gray;}
#w2{background-color: gray;}
#w3{background-color: gray;}
#w4{background-color: gray;}
#w5{background-color: gray;}
#w6{background-color: gray;}
#w7{background-color: gray;}
#w8{background-color: gray;}